.hero {
    background: url('../images/frame.jpg') no-repeat center center;
    background-size: cover;
    color: #000000;
    padding: 100px 0;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}
.hero .btn {
    font-size: 1.25rem;
    padding: 10px 20px;
}