<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Start Footer Section -->
  <footer id="contact" class="bg-success text-white text-center py-5">
    <div class="container">
      <img th:src="@{default/images/iconChef.png}" alt="Company Logo" style="width: 50px; height: 50px;">
      <h2>AMERICAN FOOD</h2>
      <h4>The Best Taste Food</h4>
      <div class="social-icons my-3">
        <a href="#"><img th:src="@{default/images/iconInstagram.png}" alt="Instagram" style="width: 30px; height: 30px; margin: 0 10px;"></a>
        <a href="#"><img th:src="@{default/images/iconFacebook.png}" alt="Facebook" style="width: 30px; height: 30px; margin: 0 10px;"></a>
        <a href="#"><img th:src="@{default/images/iconTwitter.png}" alt="Twitter" style="width: 30px; height: 30px; margin: 0 10px;"></a>
      </div>
      <p>yourwebsite.com</p>
    </div>
  </footer>
<!-- End Footer Section -->
</body>
</html>