<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link th:href="@{/default/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link th:href="@{/default/css/tiny-slider.css}" rel="stylesheet">
    <link th:href="@{/default/css/styles.css}" rel="stylesheet">
    <link th:href="@{/default/css/index.css}" rel="stylesheet">
    <link th:href="@{/default/css/contact.css}" rel="stylesheet">
    <link th:href="@{/default/css/about.css}" rel="stylesheet">
    <link th:href="@{/default/css/services.css}" rel="stylesheet">
    <link th:href="@{/default/css/detail-product.css}" rel="stylesheet">
    <title>American Food, Let food be thy medicine, medicine be thy food.</title>
</head>

<body>
<section th:replace="/default/header">header</section>
<section layout:fragment="main-content"></section>
<section th:replace="/default/footer"></section>

<script th:src="@{/default/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/default/js/tiny-slider.js}"></script>
<script th:src="@{/default/js/custom.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
