<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default/layout}">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
<section layout:fragment="main-content">
    <section id="contact" class="contact text-center py-5">
        <div class="container">
            <div class="contact-container">
                <h1>Contact Us</h1>
                <form>
                    <div class="row">
                        <div class="col-md-6 text-start">
                            <label for="firstname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstname" required>
                        </div>
                        <div class="col-md-6 text-start">
                            <label for="lastname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastname" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-start">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="col-md-6 text-start">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" required>
                        </div>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </section>
</section>
</body>
</html>